.backgroundImage {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }

.header {
  padding-right: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
    font-style: italic;
  }
}

  .headerContainer {
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.7);
  }