.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.showtimeCard{

    .ant-card-head-wrapper {
        display: block;
    }
}

.button {
    height: 5rem;
    display: block;
    @media (max-width: 768px) {
       width: 100%;
    }
}