.about {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    h2 {
      font-size: 2rem;
      padding-bottom: 10px;
    }
  
    p {
      font-size: 1.3rem;
    }

  }

.content {
  display: flex;
  min-width: 300px;
  @media(max-width: 1000px) {
    flex-direction: column;
  }
}
.theaterDirector {

  min-width: 400px;
  border: 1rem solid #610b00;
  max-width: 375px;
  height: auto;
  max-height: 500px;
  @media(max-width: 400px){
    width: 320px;
    min-width: 320px;
    height: 420px;
  }
}

.theaterDirectorSection {
  min-width: 350px;
  text-align: center;
  flex-grow: 1;
}