.about {
    //margin-top: 20px;
  background: radial-gradient(circle, #b22222, #8b0000);
  padding: 1rem;
    color: white;
    h2 {
      font-size: 2rem;
      padding-bottom: 10px;
    }
  
    p {
      font-size: 1.3rem;
    }
    &::before{

    }
  }
  