.announce {
    text-align: left;
    margin-top: 30px;
  
    h2 {
      font-size: 2rem;
      padding-bottom: 10px;
    }
  }
  
  .announceContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  